// COLORS
$color-primary-light: rgba(60, 83, 105, 0.82);
$color-primary-dark: #243d44;
$color-primary-section-1: #3d5d80;
$color-section-background: #011627;
$color-section-hearder-background: rgba(1, 22, 38, 0.85);
$color-primary-section-2: #fffcf2;

$color-connections : #ee6c4d;

$color-secondary-light: #cb3d7f;
$color-secondary-dark: #a6275f;

$color-tertiary-light: #FFF3B0;
$color-tertiary-dark: #FFF3B0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #d7d5d5;

$color-white: #fff;
$color-black: rgba(42, 42, 42, 0.89);

// FONTS
$default-font-size: 1.4rem;

$small-title-font: 1.5rem;
$big-title-font: 2.8rem;

